# any change inside the `/src` directory
# will require approval from @WillemvJ
# adding multiple usernames will require one approval still, but multiple people have the rights
* @WillemvJ

docs/ @WillemvJ @frakkerman
